h1, h2, img {
    font-size: 2em;
    background-color: silver;
    border: .1em rgb(29, 29, 29) solid;
    font-family: 'times new roman', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h3 {
    font-size: 2em;
    background-color: silver;
    border: .1em rgb(29, 29, 29) solid;
    font-family: 'times new roman', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 1em;
}



body {
    background-color: darkred;
}
form {
    background-color: silver;
}

button {
    font-size: 1em;
    background-color: darkred;
    color: black;
}
h1{
    font-size: 1.5em;
    background-color: darkred;
    border: .1em rgb(29, 29, 29) solid;
    font-family: 'times new roman', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
